name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: SAM Package
      #uses: RichDavis1/aws-sam-ci-test/github/actions/sam/package
      uses: ./.github/actions/sam/package
        
      #uses: RichDavis1/aws-sam-ci-test/github/actions/sam/package
      #uses: ./github/actions/sam/package
      #uses: ./sam-testaroni
      env:
        #TEMPLATE: 'template.yaml'
        #AWS_STACK_NAME: prod-${{ github.actor }}-resourceful
        AWS_REGION: 'us-east-1'
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEPLOY_BUCKET: ${{ secrets.AWS_DEPLOY_BUCKET }}
      with:
        prefix: $/$
        bucket: $ 
        template_file: template.yaml
        output_template_file: $.yaml
        working_directory: ./.aws-sam/build
    - name: Push Template to S3
      uses: actions/aws/cli@master
      env:
        AWS_ACCESS_KEY_ID: $
        AWS_SECRET_ACCESS_KEY: $
      with:
        args: >-
          s3 cp ./.aws-sam/build/$.yaml
          s3://$/$/$/template.yaml
    - name: Publish
      if: startsWith(github.ref, 'refs/tags')
      uses: ./.github/actions/sam/publish
      env:
        SAM_CLI_TELEMETRY: 0
        AWS_ACCESS_KEY_ID: $
        AWS_SECRET_ACCESS_KEY: $
      with:
        TEMPLATE: ./.aws-sam/build/$.yaml
