name: Go

on:
  push:
    branches: [ master ]

jobs:
  checkout:
    name: Checkout
    runs-on: ubuntu-latest      
    steps:      
    - name: Checkout
      uses: actions/checkout@v2
    - name: sam build
      uses: ./.github/actions/sam/package
      with:
        sam_command: "build --debug"
        stage: "dev"
        directory: ./my-golang-app
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}

    - name: sam build core
      uses: ./.github/actions/sam/package
      with:
        sam_command: "build --debug"
        stage: "dev"
        directory: ./my-golang-app/CoreTest
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}        
